version: "3.9"

services:

  api:
    build: ./backend
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - backend/.env

  bot:
    build: ./backend
    command: python bot/main.py
    env_file:
      - backend/.env

  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"

  redis:
    image: redis
    restart: always
